{{!-- {{log 'cityUser' foundCity}} --}}
{{> header}}

<main>
    <section>
        <h1>Supporters from</h1>
        <h2>{{city}}</h2>
        <ul>
            {{#each foundCity}}
            <li><img src="/assets/pawprint.svg" alt="pawprint" class="pawprint"> {{#if website}}
                        <a href={{website}}>{{first_name}} {{last_name}}</a>
                        {{else}}
                        {{first_name}} {{last_name}}
                        {{/if}}
                        {{#if age}}
                        | {{age}}
                        {{/if}}
                        {{#if city}}
                        | <a href="/catition/signers/{{city}}" class="linkstyle">{{city}}</a>
                        {{/if}}</li>
            {{/each}}
        </ul>
    </section>
</main>