{{> header}}


<main>
    <section>
        {{#signature}}
        <h1>Thanks for your support!</h1>
        <h2>{{first_name}}</h2>
        <p>Now you are part of the furry movement. Everybody deserves a cat!</p>
        <img class="signature" src="{{signature}}" alt="{{first_name}} {{last_name}}">
        {{/signature}}
        <form action="/catition/thank-you/delete-sig" method="POST" class="deleteDB">
           <div> <button type="submit">Delete Signature</button>
           <a href="/catition/signers" class="moreSigners btn_base">See all {{signers.length}} signers</a></div>
        </form>
    </section>
</main>
