{{> header}}


<main>
    <section>
        {{#signature}}
        <h1>Thanks for your support!</h1>
        <h2>{{first_name}} you are now part of the furry movement.</h2>
        <p>Tell everyone else</p>
        <img class="signature" src="{{signature}}" alt="{{first_name}} {{last_name}}">
        {{/signature}}
        <form action="/thank-you/delete-sig" method="POST" class="deleteDB">
           <div> <button type="submit">Delete Signature</button>
           <a href="/signers" class="moreSigners btn_base">See all {{signers.length}} signers</a></div>
        </form>
    </section>
</main>
